dsl/02_Genie_API.yml
app:
  description: Genie Conversation APIで自然言語からSQLを生成・実行。非同期APIのためポーリング処理を含む。
  icon: 🤖
  icon_background: '#E8F5E9'
  mode: workflow
  name: ② Genie API（自然言語SQL）
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: http-request
      id: e1
      source: start
      sourceHandle: source
      target: http_start
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: e2
      source: http_start
      sourceHandle: source
      target: code_poll
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: end
      id: e3
      source: code_poll
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables:
        - default: How many products do we have?
          label: Genieへの質問（英語推奨）
          max_length: 500
          required: true
          type: text-input
          variable: input
      height: 109
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: <YOUR_DATABRICKS_PAT>
            type: bearer
          type: api-key
        body:
          data: '{"content": "{{#start.input#}}"}'
          type: json
        headers: Content-Type:application/json
        method: post
        params: ''
        retry:
          enabled: false
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          connect: 30
          read: 60
          write: 30
        title: 'Genie: 会話開始'
        type: http-request
        url: https://fevm-yao-sl-st.cloud.databricks.com/api/2.0/genie/spaces/01f120dd5aa41a8797fba5d0d9bbadca/start-conversation
      height: 185
      id: http_start
      position:
        x: 340
        y: 282
      positionAbsolute:
        x: 340
        y: 282
      type: custom
      width: 242
    - data:
        code: "import json\nimport time\nimport urllib.request\nimport ssl\n\ndef\
          \ main(body: str) -> dict:\n    data = json.loads(body)\n    conv_id = data.get(\"\
          conversation_id\", \"\")\n    msg_id = data.get(\"message_id\", \"\")\n\
          \    \n    if not conv_id or not msg_id:\n        return {\"result\": \"\
          Error: conversation_id or message_id not found\"}\n    \n    base = \"https://fevm-yao-sl-st.cloud.databricks.com/api/2.0/genie/spaces/01f120dd5aa41a8797fba5d0d9bbadca\"\
          \n    poll_url = base + \"/conversations/\" + conv_id + \"/messages/\" +\
          \ msg_id\n    token = \"<YOUR_DATABRICKS_PAT>\"\n    ctx\
          \ = ssl.create_default_context()\n    ctx.check_hostname = False\n    ctx.verify_mode\
          \ = ssl.CERT_NONE\n    \n    status = \"UNKNOWN\"\n    for i in range(10):\n\
          \        time.sleep(5)\n        req = urllib.request.Request(poll_url)\n\
          \        req.add_header(\"Authorization\", \"Bearer \" + token)\n      \
          \  try:\n            resp = urllib.request.urlopen(req, timeout=30, context=ctx)\n\
          \            poll_data = json.loads(resp.read().decode())\n        except\
          \ Exception as e:\n            return {\"result\": \"Polling error: \" +\
          \ str(e)}\n        \n        status = poll_data.get(\"status\", \"UNKNOWN\"\
          )\n        if status == \"COMPLETED\":\n            parts = []\n       \
          \     for att in poll_data.get(\"attachments\", []):\n                text\
          \ = att.get(\"text\", \"\")\n                if text:\n                \
          \    parts.append(str(text))\n                query = att.get(\"query\"\
          , {})\n                if isinstance(query, dict):\n                   \
          \ sql = query.get(\"query\", \"\")\n                    if sql:\n      \
          \                  parts.append(\"Generated SQL: \" + str(sql))\n      \
          \      if parts:\n                return {\"result\": chr(10).join(parts)}\n\
          \            return {\"result\": json.dumps(poll_data, ensure_ascii=False)[:1500]}\n\
          \        elif status in [\"FAILED\", \"CANCELLED\"]:\n            return\
          \ {\"result\": \"Genie failed: \" + status}\n    \n    return {\"result\"\
          : \"Timeout after 50s. Last status: \" + status}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: ポーリング+結果抽出
        type: code
        variables:
        - value_selector:
          - http_start
          - body
          variable: body
      height: 52
      id: code_poll
      position:
        x: 600
        y: 282
      positionAbsolute:
        x: 600
        y: 282
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - code_poll
          - result
          variable: result
        selected: false
        title: End
        type: end
      height: 88
      id: end
      position:
        x: 860
        y: 282
      positionAbsolute:
        x: 860
        y: 282
      type: custom
      width: 242
    viewport:
      x: 76
      y: 67.5
      zoom: 1
  rag_pipeline_variables: []

