dsl/02_UC_SQL_API.yml
app:
  description: SQL Statements APIでUC関数を呼び出す。warehouse_id+PATで認証。LLMが結果を自然言語で整形。
  icon: 🤖
  icon_background: '#E8F5E9'
  mode: workflow
  name: ② UC関数実行（SQL API）
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.40@1d12045e32101ae6f211d51c0f1f357dad5976b6c1189e19e39b609554cc4f7e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: code
      id: e0
      source: start
      sourceHandle: source
      target: sql_builder
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: http-request
      id: e1
      source: sql_builder
      sourceHandle: source
      target: http_node
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: llm
      id: e2
      source: http_node
      sourceHandle: source
      target: llm_node
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: end
      id: e3
      source: llm_node
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables:
        - label: UC関数を選択
          max_length: 200
          options:
          - search_policy（ポリシー検索）
          - get_customer_by_email（顧客検索）
          - get_order_history（注文履歴）
          - get_support_tickets（サポートチケット）
          - calculate_math_expression（数式計算）
          required: true
          type: select
          variable: function
        - label: 'パラメータ（例: 返品 / naoki32@example.net / 10122 / sqrt(2+3*4)）'
          max_length: 500
          required: true
          type: text-input
          variable: input
      height: 135
      id: start
      position:
        x: -50
        y: 303
      positionAbsolute:
        x: -50
        y: 303
      selected: true
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: <YOUR_DATABRICKS_PAT>
            type: bearer
          type: api-key
        body:
          data:
          - type: text
            value: '{"warehouse_id": "b1d283f64d6cff21", "statement": "{{#sql_builder.sql#}}",
              "wait_timeout": "30s"}'
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry:
          enabled: false
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 30
          read: 120
          write: 30
        title: Databricks API
        type: http-request
        url: https://fevm-yao-sl-st.cloud.databricks.com/api/2.0/sql/statements/
      height: 153
      id: http_node
      position:
        x: 560
        y: 282
      positionAbsolute:
        x: 560
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            max_tokens: 2048
            temperature: 0.3
          mode: chat
          name: databricks-gpt-5-2
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: 9f40c94a-3039-42a2-8828-6c7e2bf0bc2f
          role: system
          text: '以下のAPIレスポンスを元に、ユーザーの質問に日本語で分かりやすく回答してください。 APIレスポンス: {{#http_node.body#}}
            ユーザーの質問: {{#start.input#}}'
        selected: false
        title: 回答生成
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm_node
      position:
        x: 840
        y: 282
      positionAbsolute:
        x: 840
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - llm_node
          - text
          variable: result
        selected: false
        title: End
        type: end
      height: 88
      id: end
      position:
        x: 1120
        y: 282
      positionAbsolute:
        x: 1120
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(function_choice: str, param: str) -> dict:\n    fn_map = {\n\
          \        'search_policy': f\"SELECT * FROM yao_sl_st_catalog.ricoh_handson_code.search_policy('{param}')\"\
          ,\n        'get_customer_by_email': f\"SELECT * FROM yao_sl_st_catalog.ricoh_handson_code.get_customer_by_email('{param}')\"\
          ,\n        'get_order_history': f\"SELECT * FROM yao_sl_st_catalog.ricoh_handson_code.get_order_history({param})\"\
          ,\n        'get_support_tickets': f\"SELECT * FROM yao_sl_st_catalog.ricoh_handson_code.get_support_tickets({param})\"\
          ,\n        'calculate_math_expression': f\"SELECT yao_sl_st_catalog.ricoh_handson_code.calculate_math_expression('{param}')\"\
          ,\n    }\n    for key, sql in fn_map.items():\n        if key in function_choice:\n\
          \            return {'sql': sql}\n    return {'sql': f\"SELECT * FROM yao_sl_st_catalog.ricoh_handson_code.search_policy('{param}')\"\
          }\n"
        code_language: python3
        outputs:
          sql:
            children: null
            type: string
        selected: false
        title: SQL文を構築
        type: code
        variables:
        - value_selector:
          - start
          - function
          variable: function_choice
        - value_selector:
          - start
          - input
          variable: param
      height: 52
      id: sql_builder
      position:
        x: 280
        y: 282
      positionAbsolute:
        x: 280
        y: 282
      selected: false
      type: custom
      width: 242
    viewport:
      x: 279.49048010080435
      y: 111.6947264426895
      zoom: 0.7950219665645925
  rag_pipeline_variables: []

