dsl/②_Day1_Code_Agent.yml
app:
  description: Day1のLangGraphエージェント呼び出し。UC Functions+Vector Searchを内部活用。LLM不要。
  icon: 🤖
  icon_background: '#E8F5E9'
  mode: workflow
  name: ② Day1 Code Agent
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: http-request
      id: e1
      source: start
      sourceHandle: source
      target: http_node
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: e2
      source: http_node
      sourceHandle: source
      target: code_node
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: end
      id: e3
      source: code_node
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables:
        - label: 質問を入力
          max_length: 1000
          required: true
          type: text-input
          variable: input
      height: 109
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: <YOUR_DATABRICKS_PAT>
            type: bearer
          type: api-key
        body:
          data:
          - type: text
            value: '{"input": [{"role": "user", "content": "{{#start.input#}}"}]}'
          type: json
        desc: ''
        headers: Content-Type:application/json
        method: post
        params: ''
        retry:
          enabled: false
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: true
        timeout:
          connect: 30
          read: 120
          write: 30
        title: Databricks API
        type: http-request
        url: https://fevm-yao-sl-st.cloud.databricks.com/serving-endpoints/ricoh_technova_agent_yao_sl_st_catalog_ricoh_handson_code/invocations
      height: 201
      id: http_node
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: true
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - code_node
          - result
          variable: result
        selected: false
        title: End
        type: end
      height: 88
      id: end
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(response_body: str) -> dict:\n    try:\n  \
          \      data = json.loads(response_body)\n        output = data.get('output',\
          \ [])\n        for item in reversed(output):\n            if item.get('type')\
          \ == 'message' or item.get('role') == 'assistant':\n                content\
          \ = item.get('content', [])\n                if isinstance(content, list):\n\
          \                    for c in content:\n                        if isinstance(c,\
          \ dict) and 'text' in c:\n                            return {'result':\
          \ c['text']}\n                elif isinstance(content, str):\n         \
          \           return {'result': content}\n        return {'result': response_body[:2000]}\n\
          \    except Exception as e:\n        return {'result': f'Error: {str(e)}'}\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 回答抽出
        type: code
        variables:
        - value_selector:
          - http_node
          - body
          variable: response_body
      height: 52
      id: code_node
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      type: custom
      width: 242
    viewport:
      x: 114
      y: 2
      zoom: 1
  rag_pipeline_variables: []

